<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание кредитного предложения</title>
</head>
<body>

<form th:method="POST" th:action="@{/creditoffers}" accept-charset="UTF-8">

    <label for="bank.Id">Банк: </label>
    <select th:field="*{bank.Id}" id="bank.Id">
        <option value=""> -- </option>
        <option th:each="bank : ${allBanks}"
                th:value="${bank.getId()}"
                th:utext="${bank.getName()}"/>
    </select>

    <label for="creditOfferNew.creditLimit">Лимит: </label>
    <input type="text" th:field="*{creditOfferNew.creditLimit}" id="creditOfferNew.creditLimit"/>
    <div style="color:red" th:if="${#fields.hasErrors('creditOfferNew.creditLimit')}" th:errors="*{creditOfferNew.creditLimit}"></div>

    <label for="creditOfferNew.interestRate">Процент: </label>
    <input type="text" th:field="*{creditOfferNew.interestRate}" id="creditOfferNew.interestRate"/>
    <div style="color:red" th:if="${#fields.hasErrors('creditOfferNew.interestRate')}" th:errors="*{creditOfferNew.interestRate}"></div>

    <br/>
    <br/>

    <input type="submit" value="Создать!">
</form>

</body>
</html>