body {
    display: block;
    margin: 0;
}

.container {
    padding: 6px;
}

.navbar {
    text-align: left;
    list-style: none;
    padding-left: 0;
    margin: 5px;
}

.navbar a {
    color: #000000;
    text-decoration: none;
}

.navbar li {
    display: inline-flex;
    padding: 6px;
    border: 1px inset #37b96f6e;
}

.navbar li:hover {
    background: #79CD9D77;
}

.content{
    padding-top: 5px;
    padding-bottom: 5px;
}

.wrap {
    display: inline-flex;
}

.but {
    padding: 5px;
    margin: 5px;
    display: table-cell;
    border: 1px inset #37b96f6e;
}
.aAdd{
    width: 30px;
    height: 30px;
    border: none;
    background: transparent url('/static/images/add.png') no-repeat center top;
    text-indent: -1000em;
}
.aAdd:hover {
    background-color: #79CD9D;
    cursor: pointer;
}

table{
    margin: 5px;
    display: inline-flex;
}

.tLabel {
    text-align: left;
}
.tEdit {
    background: #37b96f17;
    text-align: left;
}

.headTable {
    background: #37b96f17;
    text-align: center;
}

.row {
    cursor: pointer;
    background: #37b96f17;
}

.row:hover {
    background: #79CD9D77;
}

.formRow {
    display: inline-block;
}

.formButton {
    border: none;
    vertical-align: center;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: 1px inset #37b96f6e;
}

.formButton:hover {
    background-color: #79CD9D77;
}

.formButton:hover {
    cursor: pointer;
}

.buttonDel {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent url('/static/images/del.png') no-repeat center top;
    text-indent: -1000em;
}

.buttonDel:hover {
    cursor: pointer;
    background-color: #CD797977;
}

.buttonEdit {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent url('/static/images/edit.png') no-repeat center top;
    text-indent: -1000em;
}

.buttonEdit:hover {
    cursor: pointer;
    background-color: #7991CD77;
}