<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>

<div class="content" th:fragment="contentindex (form)">
    <div class="wrap">
        <div class="but">
            <h4>Список банков</h4>
            <a href="/bank/new">
                <div class="aAdd"></div>
            </a>
            <table>
                <tr class="headTable">
                    <td>Наименование</td>
                    <td>ИНН</td>
                    <td>БИК</td>
                    <td></td>
                </tr>
                <tr class="row"
                    th:each="bank : ${form.getBankList()}"
                    th:href="@{/bank/{id}(id=${bank.getId()})}"
                    th:onclick="rowClicked(this.getAttribute('href'))">
                    <td th:text="${bank.getName()}"/>
                    <td th:text="${bank.getInn()}"/>
                    <td th:text="${bank.getBic()}"/>
                    <td>
                        <form class="formRow" th:method="DELETE"
                              th:action="@{/bank/{id}(id=${bank.getId()})}"
                              th:object="${bank}"
                              accept-charset="UTF-16">
                            <input class="buttonDel" type="submit" value="Удалить">
                        </form>
                        <form class="formRow" th:method="GET"
                              th:action="@{/bank/{id}/edit(id=${bank.getId()})}"
                              th:object="${bank}"
                              accept-charset="UTF-16">
                            <input class="buttonEdit" type="submit" value="Изменить">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div class="but">
            <h4>Список клиентов</h4>
            <a href="/client/new">
                <div class="aAdd"></div>
            </a>
            <table>
                <tr class="headTable">
                    <td>ФИО</td>
                    <td>Паспорт</td>
                    <td>Email</td>
                    <td>Тел</td>
                    <td></td>
                </tr>
                <tr class="row"
                    th:each="client : ${form.getClientList()}"
                    th:href="@{/client/{id}(id=${client.getId()})}"
                    th:onclick="rowClicked(this.getAttribute('href'))">
                    <td th:text="${client.getName()}"/>
                    <td th:text="${client.getPasportNumber()}"/>
                    <td th:text="${client.getEmail()}"/>
                    <td th:text="${client.getPhoneNumber()}"/>
                    <td>
                        <form class="formRow" th:method="DELETE"
                              th:action="@{/client/{id}(id=${client.getId()})}"
                              th:object="${client}"
                              accept-charset="UTF-16">
                            <input class="buttonDel" type="submit" value="Удалить">
                        </form>
                        <form class="formRow" th:method="GET"
                              th:action="@{/clients/{id}/edit(id=${client.getId()})}"
                              th:object="${client}"
                              accept-charset="UTF-16">
                            <input class="buttonEdit" type="submit" value="Изменить">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="wrap">
        <div class="but">
            <h4>Список кредитных предложений</h4>
            <a href="/creditoffer/new">
                <div class="aAdd"></div>
            </a>
            <div>
                <table>
                    <tr class="headTable">
                        <td>Банк</td>
                        <td>Лимит</td>
                        <td>Процент</td>
                    </tr>
                    <tr class="row"
                        th:each="creditOffer : ${form.getCreditOfferList()}"
                        th:href="@{/creditoffer/{id} (id=${creditOffer.getId()})}"
                        th:onclick="rowClicked(this.getAttribute('href'))">
                        <td th:text="${creditOffer.getBank().getName()}"/>
                        <td th:text="${creditOffer.getCreditLimit()}"/>
                        <td th:text="${creditOffer.getInterestRate()}"/>
                        <td>
                            <form class="formRow" th:method="DELETE"
                                  th:action="@{/creditoffer/{id}(id=${creditOffer.getId()})}"
                                  th:object="${creditOffer}"
                                  accept-charset="UTF-16">
                                <input class="buttonDel" type="submit" value="Удалить">
                            </form>
                            <form class="formRow" th:method="GET"
                                  th:action="@{/creditoffer/{id}/edit (id=${creditOffer.getId()})}"
                                  th:object="${creditOffer}"
                                  accept-charset="UTF-16">
                                <input class="buttonEdit" type="submit" value="Изменить">
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="content" th:fragment="banklist (form)">
    <div class="wrap">
        <div class="but">
            <h4>Список банков</h4>
            <a href="/bank/new">
                <div class="aAdd"></div>
            </a>
            <table>
                <tr class="headTable">
                    <td>Наименование</td>
                    <td>ИНН</td>
                    <td>БИК</td>
                    <td></td>
                </tr>
                <tr class="row"
                    th:each="bank : ${form.getBankList()}"
                    th:href="@{/bank/{id}(id=${bank.getId()})}"
                    th:onclick="rowClicked(this.getAttribute('href'))">
                    <td th:text="${bank.getName()}"/>
                    <td th:text="${bank.getInn()}"/>
                    <td th:text="${bank.getBic()}"/>
                    <td>
                        <form class="formRow" th:method="DELETE"
                              th:action="@{/bank/{id}(id=${bank.getId()})}"
                              th:object="${bank}"
                              accept-charset="UTF-16">
                            <input class="buttonDel" type="submit" value="Удалить">
                        </form>
                        <form class="formRow" th:method="GET"
                              th:action="@{/bank/{id}/edit(id=${bank.getId()})}"
                              th:object="${bank}"
                              accept-charset="UTF-16">
                            <input class="buttonEdit" type="submit" value="Изменить">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="content" th:fragment="bankedit (form)">
    <div class="wrap">
        <div class="but">
            <h4>Изменить банк</h4>
            <form th:method="PATCH" th:action="@{/bank/{id}(id=${form.bank.getId()})}"
                  th:object="${form.bank}" accept-charset="UTF-16">
                <table>
                    <tr>
                        <td class="tLabel">Наименование:</td>
                        <td class="tEdit"><input type="text" th:field="*{name}" id="name"/></td>
                    </tr>
                    <tr>
                        <td class="tLabel">ИНН:</td>
                        <td class="tEdit"><input type="text" th:field="*{inn}" id="inn"/></td>
                    </tr>
                    <tr>
                        <td class="tLabel">БИК:</td>
                        <td class="tEdit"><input type="text" th:field="*{bic}" id="bic"/></td>
                    </tr>
                </table>
                <br/>
                <input class="formButton" type="submit" value="Сохранить!">
            </form>
        </div>
    </div>
</div>

<div class="content" th:fragment="banknew (form)">
    <div class="wrap">
        <div class="but">
            <h4>Новый банк</h4>
            <form th:method="POST" th:action="@{/bank}"
                  th:object="${form.bank}" accept-charset="UTF-16">
                <table>
                    <tr>
                        <td class="tLabel">Наименование:</td>
                        <td class="tEdit"><input type="text" th:field="*{name}" id="name"/></td>
                    </tr>
                    <tr>
                        <td class="tLabel">ИНН:</td>
                        <td class="tEdit"><input type="text" th:field="*{inn}" id="inn"/></td>
                    </tr>
                    <tr>
                        <td class="tLabel">БИК:</td>
                        <td class="tEdit"><input type="text" th:field="*{bic}" id="bic"/></td>
                    </tr>
                </table>
                <br/>
                <input class="formButton" type="submit" value="Создать!">
            </form>
        </div>
    </div>
</div>

<div class="content" th:fragment="bankshow (form)">
    <div class="wrap">
        <div class="but">
            <h4>Банк</h4>
            <table>
                <tr>
                    <td class="tLabel">Наименование:</td>
                    <td class="tEdit" th:text="${form.bank.getName()}"/>
                </tr>
                <tr>
                    <td class="tLabel">ИНН:</td>
                    <td class="tEdit" th:text="${form.bank.getInn()}"/>
                </tr>
                <tr>
                    <td class="tLabel">БИК:</td>
                    <td class="tEdit" th:text="${form.bank.getBic()}"/>
                </tr>
            </table>
            <br/>
            <form class="formRow" th:method="DELETE"
                  th:action="@{/bank/{id}(id=${form.bank.getId()})}"
                  th:object="${form.bank}"
                  accept-charset="UTF-16">
                <input class="formButton" type="submit" value="Удалить">
            </form>
            <form class="formRow" th:method="GET"
                  th:action="@{/bank/{id}/edit(id=${form.bank.getId()})}"
                  th:object="${form.bank}"
                  accept-charset="UTF-16">
                <input class="formButton" type="submit" value="Изменить">
            </form>
        </div>
    </div>
    <br/>
    <div class="wrap">
        <div class="but">
            <h4>Список кредитных предложений банка</h4>
            <a th:href="@{/creditoffer/bank/{id}/new(id=${form.bank.getId()})}">
                <div class="aAdd"></div>
            </a>
            <table>
                <tr class="headTable">
                    <td>Банк</td>
                    <td>Лимит</td>
                    <td>Процент</td>
                </tr>
                <tr class="row"
                    th:each="creditOffer : ${form.getCreditOfferList()}"
                    th:href="@{/creditoffer/{id} (id=${creditOffer.getId()})}"
                    th:onclick="rowClicked(this.getAttribute('href'))">
                    <td th:text="${creditOffer.getBank().getName()}"/>
                    <td th:text="${creditOffer.getCreditLimit()}"/>
                    <td th:text="${creditOffer.getInterestRate()}"/>
                    <td>
                        <form class="formRow" th:method="DELETE"
                              th:action="@{/creditoffer/{id}(id=${creditOffer.getId()})}"
                              th:object="${creditOffer}"
                              accept-charset="UTF-16">
                            <input class="buttonDel" type="submit" value="Удалить">
                        </form>
                        <form class="formRow" th:method="GET"
                              th:action="@{/creditoffer/{id}/edit (id=${creditOffer.getId()})}"
                              th:object="${creditOffer}"
                              accept-charset="UTF-16">
                            <input class="buttonEdit" type="submit" value="Изменить">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div class="but">
            <h4>Список кредитов банка</h4>
            <a th:href="@{/credit/bank/{id}/new(id=${form.bank.getId()})}">
                <div class="aAdd"></div>
            </a>
            <table>
                <tr class="headTable">
                    <td>Клиент</td>
                    <td>Сумма тела</td>
                    <td>Сумма кредита</td>
                </tr>
                <tr class="row" th:each="credit : ${form.getCreditList()}"
                    th:href="@{/credit/{id} (id=${credit.getId()})}"
                    th:onclick="rowClicked(this.getAttribute('href'))">
                    <td th:text="${credit.getClient().getName()}"/>
                    <td th:text="${credit.getSumBody()}"/>
                    <td th:text="${credit.getSum()}"/>
                    <td>
                        <form class="formRow" th:method="DELETE"
                              th:action="@{/credit/{id}(id=${credit.getId()})}"
                              th:object="${credit}"
                              accept-charset="UTF-16">
                            <input class="buttonDel" type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div class="content" th:fragment="clientlist (form)">
    <div class="wrap">
        <div class="but">
            <h4>Список клиентов</h4>
            <a href="/client/new">
                <div class="aAdd"></div>
            </a>
            <table>
                <tr class="headTable">
                    <td>ФИО</td>
                    <td>Паспорт</td>
                    <td>Email</td>
                    <td>Тел</td>
                    <td></td>
                </tr>
                <tr class="row"
                    th:each="client : ${form.getClientList()}"
                    th:href="@{/client/{id}(id=${client.getId()})}"
                    th:onclick="rowClicked(this.getAttribute('href'))">
                    <td th:text="${client.getName()}"/>
                    <td th:text="${client.getPasportNumber()}"/>
                    <td th:text="${client.getEmail()}"/>
                    <td th:text="${client.getPhoneNumber()}"/>
                    <td>
                        <form class="formRow" th:method="DELETE"
                              th:action="@{/client/{id}(id=${client.getId()})}"
                              th:object="${client}"
                              accept-charset="UTF-16">
                            <input class="buttonDel" type="submit" value="Удалить">
                        </form>
                        <form class="formRow" th:method="GET"
                              th:action="@{/client/{id}/edit(id=${client.getId()})}"
                              th:object="${client}"
                              accept-charset="UTF-16">
                            <input class="buttonEdit" type="submit" value="Изменить">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="content" th:fragment="clientnew (form)">
    <div class="wrap">
        <div class="but">
            <h4>Новый клиент</h4>
            <form th:method="POST" th:action="@{/client}"
                  th:object="${form.client}" accept-charset="UTF-16">
                <table>
                    <tr>
                        <td class="tLabel">Фамилия:</td>
                        <td class="tEdit"><input type="text" th:field="*{lastName}" id="lastName"/></td>
                    </tr>
                    <tr>
                        <td class="tLabel">Имя:</td>
                        <td class="tEdit"><input type="text" th:field="*{firstName}" id="firstName"/></td>
                    </tr>
                    <tr>
                        <td class="tLabel">Отчество:</td>
                        <td class="tEdit"><input type="text" th:field="*{fatherName}" id="fatherName"/></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td class="tLabel">Паспорт:</td>
                        <td class="tEdit"><input type="text" th:field="*{pasportNumber}" id="pasportNumber"/></td>
                    </tr>
                    <tr>
                        <td class="tLabel">Email:</td>
                        <td class="tEdit"><input type="text" th:field="*{email}" id="email"/></td>
                    </tr>
                    <tr>
                        <td class="tLabel">Тел:</td>
                        <td class="tEdit"><input type="text" th:field="*{phoneNumber}" id="phoneNumber"/></td>
                    </tr>
                </table>
                <br/>
                <input class="formButton" type="submit" value="Создать!">
            </form>
        </div>
    </div>
</div>

<div class="content" th:fragment="clientshow (form)">
    <div class="wrap">
        <div class="but">
            <h4>Клиент</h4>
            <table>
                <tr>
                    <td class="tLabel">Фамилия:</td>
                    <td class="tEdit" th:text="${form.client.getLastName()}"/>
                </tr>
                <tr>
                    <td class="tLabel">Имя:</td>
                    <td class="tEdit" th:text="${form.client.getFirstName()}"/>
                </tr>
                <tr>
                    <td class="tLabel">Отчество:</td>
                    <td class="tEdit" th:text="${form.client.getFatherName()}"/>
                </tr>
            </table>
            <table>
                <tr>
                    <td class="tLabel">Паспорт:</td>
                    <td class="tEdit" th:text="${form.client.getPasportNumber()}"/>
                </tr>
                <tr>
                    <td class="tLabel">Email:</td>
                    <td class="tEdit" th:text="${form.client.getEmail()}"/>
                </tr>
                <tr>
                    <td class="tLabel">Тел:</td>
                    <td class="tEdit" th:text="${form.client.getPhoneNumber()}"/>
                </tr>
            </table>
            <br/>
            <form class="formRow"
                  th:method="DELETE"
                  th:action="@{/client/{id}(id=${form.client.getId()})}"
                  th:object="${client}"
                  accept-charset="UTF-16">
                <input class="formButton" type="submit" value="Удалить">
            </form>
            <form class="formRow"
                  th:method="GET"
                  th:action="@{/client/{id}/edit(id=${form.client.getId()})}"
                  th:object="${client}"
                  accept-charset="UTF-16">
                <input class="formButton" type="submit" value="Изменить">
            </form>
        </div>
    </div>
    <br/>
    <div class="wrap">
        <div class="but">
            <h4>Список кредитов слиента</h4>
            <a th:href="@{/credit/client/{id}/new(id=${form.client.getId()})}">
                <div class="aAdd"></div>
            </a>
            <table>
                <tr class="headTable">
                    <td>Банк</td>
                    <td>Сумма тела</td>
                    <td>Сумма кредита</td>
                </tr>
                <tr class="row" th:each="credit : ${form.getCreditList()}"
                    th:href="@{/credit/{id} (id=${credit.getId()})}"
                    th:onclick="rowClicked(this.getAttribute('href'))">
                    <td th:text="${credit.getBank().getName()}"/>
                    <td th:text="${credit.getSumBody()}"/>
                    <td th:text="${credit.getSum()}"/>
                    <td>
                        <form class="formRow" th:method="DELETE"
                              th:action="@{/credit/{id}(id=${credit.getId()})}"
                              th:object="${credit}"
                              accept-charset="UTF-16">
                            <input class="buttonDel" type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="content" th:fragment="clientedit (form)">
    <div class="wrap">
        <div class="but">
            <h4>Изменить клиента</h4>
            <form th:method="PATCH" th:action="@{/client/{id}(id=${form.client.getId()})}"
                  th:object="${form.client}" accept-charset="UTF-16">

                <table>
                    <tr>
                        <td class="tLabel">Фамилия:</td>
                        <td class="tEdit"><input type="text" th:field="*{lastName}" id="lastName"/></td>
                    </tr>
                    <tr>
                        <td class="tLabel">Имя:</td>
                        <td class="tEdit"><input type="text" th:field="*{firstName}" id="firstName"/></td>
                    </tr>
                    <tr>
                        <td class="tLabel">Отчество:</td>
                        <td class="tEdit"><input type="text" th:field="*{fatherName}" id="fatherName"/></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td class="tLabel">Паспорт:</td>
                        <td class="tEdit"><input type="text" th:field="*{pasportNumber}" id="pasportNumber"/></td>
                    </tr>
                    <tr>
                        <td class="tLabel">Email:</td>
                        <td class="tEdit"><input type="text" th:field="*{email}" id="email"/></td>
                    </tr>
                    <tr>
                        <td class="tLabel">Тел:</td>
                        <td class="tEdit"><input type="text" th:field="*{phoneNumber}" id="phoneNumber"/></td>
                    </tr>
                </table>
                <br/>
                <input class="formButton" type="submit" value="Сохранить!">
            </form>
        </div>
    </div>
</div>


<div class="content" th:fragment="creditofferlist (form)">
    <div class="wrap">
        <div class="but">
            <h4>Список кредитных предложений</h4>
            <a href="/creditoffer/new">
                <div class="aAdd"></div>
            </a>
            <table>
                <tr class="headTable">
                    <td>Банк</td>
                    <td>Лимит</td>
                    <td>Процент</td>
                </tr>
                <tr class="row"
                    th:each="creditOffer : ${form.getCreditOfferList()}"
                    th:href="@{/creditoffer/{id} (id=${creditOffer.getId()})}"
                    th:onclick="rowClicked(this.getAttribute('href'))">
                    <td th:text="${creditOffer.getBank().getName()}"/>
                    <td th:text="${creditOffer.getCreditLimit()}"/>
                    <td th:text="${creditOffer.getInterestRate()}"/>
                    <td>
                        <form class="formRow" th:method="DELETE"
                              th:action="@{/creditoffer/{id}(id=${creditOffer.getId()})}"
                              th:object="${creditOffer}"
                              accept-charset="UTF-16">
                            <input class="buttonDel" type="submit" value="Удалить">
                        </form>
                        <form class="formRow" th:method="GET"
                              th:action="@{/creditoffer/{id}/edit (id=${creditOffer.getId()})}"
                              th:object="${creditOffer}"
                              accept-charset="UTF-16">
                            <input class="buttonEdit" type="submit" value="Изменить">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="content" th:fragment="creditoffernew (form)">
    <div class="wrap">
        <div class="but">
            <h4>Новое кредитное предложение</h4>
            <form th:method="POST" th:action="@{/creditoffer}"
                  th:object="${form.creditOffer}" accept-charset="UTF-16">
                <table>
                    <tr>
                        <td class="tLabel">Банк:</td>
                        <td class="tEdit">
                            <select th:field="${form.bankId}" id="bankId">
                                <option th:value="(*{bank == null} ? null : *{bank.getId()})"
                                        th:text="(*{bank == null } ? '-' : *{bank.getName()})">

                                <option th:each="bank : ${form.getBankList()}"
                                        th:value="${bank.getId()}"
                                        th:utext="${bank.getName()}"/>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tLabel">Максимальный лимит:</td>
                        <td class="tEdit"><input type="text" th:field="*{creditLimit}" id="creditLimit"/></td>
                    </tr>
                    <tr>
                        <td class="tLabel">Процентная ставка:</td>
                        <td class="tEdit"><input type="text" th:field="*{interestRate}" id="interestRate"/></td>
                    </tr>
                </table>
                <br/>
                <input class="formButton" type="submit" value="Создать!">
            </form>
        </div>
    </div>
</div>

<div class="content" th:fragment="creditoffershow (form)">
    <div class="wrap">
        <div class="but">
            <h4>Кредитное предложение</h4>
            <table>
                <tr>
                    <td class="tLabel">Банк:</td>
                    <td class="tEdit" th:text="${form.creditOffer.getBank().getName()}"/>
                </tr>
                <tr>
                    <td class="tLabel">Максимальный лимит:</td>
                    <td class="tEdit" th:text="${form.creditOffer.getCreditLimit()}"/>
                </tr>
                <tr>
                    <td class="tLabel">Процентная ставка:</td>
                    <td class="tEdit" th:text="${form.creditOffer.getInterestRate()}"/>
                </tr>
            </table>
            <br/>
            <form class="formRow"
                  th:method="DELETE"
                  th:action="@{/creditoffer/{id}(id=${form.creditOffer.getId()})}"
                  accept-charset="UTF-16">
                <input class="formButton" type="submit" value="Удалить">
            </form>
            <form class="formRow"
                  th:method="GET"
                  th:action="@{/creditoffer/{id}/edit(id=${form.creditOffer.getId()})}"
                  accept-charset="UTF-16">
                <input class="formButton" type="submit" value="Изменить">
            </form>
        </div>
    </div>
</div>

<div class="content" th:fragment="creditofferedit (form)">
    <div class="wrap">
        <div class="but">
            <h4>Изменить кредитное предложение</h4>
            <form th:method="PATCH" th:action="@{/creditoffer/{id}(id=${form.creditOffer.getId()})}"
                  th:object="${form.creditOffer}" accept-charset="UTF-16">
                <table>
                    <tr>
                        <td class="tLabel">Банк:</td>
                        <td class="tEdit">
                            <select th:field="${form.bankId}" id="bankId">
                                <option th:value="*{bank.getId()}"
                                        th:utext="*{bank.getName()}"></option>
                                <option th:each="bank : ${form.getBankList()}"
                                        th:value="${bank.getId()}"
                                        th:utext="${bank.getName()}"/>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tLabel">Максимальный лимит:</td>
                        <td class="tEdit"><input type="text" th:field="*{creditLimit}" id="creditLimit"/></td>
                    </tr>
                    <tr>
                        <td class="tLabel">Процентная ставка:</td>
                        <td class="tEdit"><input type="text" th:field="*{interestRate}" id="interestRate"/></td>
                    </tr>
                </table>
                <br/>
                <input class="formButton" type="submit" value="Сохранить!">
            </form>
        </div>
    </div>
</div>


<div class="content" th:fragment="creditlist (form)">
    <div class="wrap">
        <div class="but">
            <h4>Список всех кредитов</h4>
            <a href="/credit/new">
                <div class="aAdd"></div>
            </a>
            <table>
                <tr class="headTable">
                    <td>Банк</td>
                    <td>Клиент</td>
                    <td>Сумма тела</td>
                    <td>Сумма кредита</td>
                </tr>
                <tr class="row" th:each="credit : ${form.getCreditList()}"
                    th:href="@{/credit/{id} (id=${credit.getId()})}"
                    th:onclick="rowClicked(this.getAttribute('href'))">
                    <td th:text="${credit.getBank().getName()}"/>
                    <td th:text="${credit.getClient().getName()}"/>
                    <td th:text="${credit.getSumBody()}"/>
                    <td th:text="${credit.getSum()}"/>
                    <td>
                        <form class="formRow" th:method="DELETE"
                              th:action="@{/credit/{id}(id=${credit.getId()})}"
                              th:object="${credit}"
                              accept-charset="UTF-16">
                            <input class="buttonDel" type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="content" th:fragment="creditnewbefor (form)">
    <div class="wrap">
        <div class="but">
            <h4>Новый кредит</h4>
            <form th:method="POST" th:action="@{/credit/calculation}"
                  th:object="${form.credit}" accept-charset="UTF-16">
                <table>
                    <tr>
                        <td class="tLabel">Банк:</td>
                        <td class="tEdit">
                            <select th:field="${form.bankId}" id="bankId">

                                <option th:value="(${form.credit.getBank() == null} ? null : ${form.credit.getBank().getId()})"
                                        th:text="(${form.credit.getBank() == null } ? '-' : ${form.credit.getBank().getName()})"></option>

                                <option th:each="bank : ${form.getBankList()}"
                                        th:value="${bank.getId()}"
                                        th:text="${bank.getName()}"/>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tLabel">Клиент:</td>
                        <td class="tEdit">
                            <select th:field="${form.clientId}" id="clientId">

                                <option th:value="(${form.credit.getClient() == null} ? null : ${form.credit.getClient().getId()})"
                                        th:text="(${form.credit.getClient() == null } ? '-' : ${form.credit.getClient().getName()})"></option>

                                <option th:each="client : ${form.getClientList()}"
                                        th:value="${client.getId()}"
                                        th:utext="${client.getName()}"/>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tLabel">Кредитное предложеие:</td>
                        <td class="tEdit">
                            <select th:field="${form.creditOfferId}" id="creditOfferId">

                                <option th:value="(${form.credit.getCreditOffer() == null} ? null : ${form.credit.getCreditOffer().getId()})"
                                        th:text="(${form.credit.getCreditOffer() == null } ? '-' : ${form.credit.getCreditOffer().getName()})"></option>

                                <option th:each="creditOffer : ${form.getCreditOfferList()}"
                                        th:value="${creditOffer.getId()}"
                                        th:utext="${creditOffer.getName()}"/>
                            </select>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td class="tLabel">Дата первого платежа:</td>
                        <td class="tEdit">
                            <input type="date" th:field="${form.dateFirstPayment}" id="dateFirstPayment"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tLabel">Количество месяцев:</td>
                        <td class="tEdit">
                            <input type="text" th:field="${form.countMonth}" id="countMonth"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tLabel">Сумма заема:</td>
                        <td class="tEdit">
                            <input type="text" th:field="*{sumBody}" id="sumBody"/>
                        </td>
                    </tr>
                </table>
                <br/>
                <input class="formButton" type="submit" value="Рассчитать">
            </form>
        </div>
    </div>
</div>

<div class="content" th:fragment="creditnew (form)">
    <div class="wrap">
        <div class="but">
            <h4>Предварительный рассчет кредита</h4>

            <form th:method="POST" th:action="@{/credit}"
                  th:object="${form.credit}" accept-charset="UTF-16">
                <table>
                    <tr>
                        <td class="tLabel">Банк:</td>
                        <td class="tEdit">
                            <select th:field="${form.bankId}" id="bankId">

                                <option th:value="(${form.credit.getBank() == null} ? null : ${form.credit.getBank().getId()})"
                                        th:text="(${form.credit.getBank() == null } ? '-' : ${form.credit.getBank().getName()})"></option>

                                <option th:each="bank : ${form.getBankList()}"
                                        th:value="${bank.getId()}"
                                        th:text="${bank.getName()}"/>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tLabel">Клиент:</td>
                        <td class="tEdit">
                            <select th:field="${form.clientId}" id="clientId">

                                <option th:value="(${form.credit.getClient() == null} ? null : ${form.credit.getClient().getId()})"
                                        th:text="(${form.credit.getClient() == null } ? '-' : ${form.credit.getClient().getName()})"></option>

                                <option th:each="client : ${form.getClientList()}"
                                        th:value="${client.getId()}"
                                        th:utext="${client.getName()}"/>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tLabel">Кредитное предложеие:</td>
                        <td class="tEdit">
                            <select th:field="${form.creditOfferId}" id="creditOfferId">

                                <option th:value="(${form.credit.getCreditOffer() == null} ? null : ${form.credit.getCreditOffer().getId()})"
                                        th:text="(${form.credit.getCreditOffer() == null } ? '-' : ${form.credit.getCreditOffer().getName()})"></option>

                                <option th:each="creditOffer : ${form.getCreditOfferList()}"
                                        th:value="${creditOffer.getId()}"
                                        th:utext="${creditOffer.getName()}"/>
                            </select>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td class="tLabel">Дата первого платежа:</td>
                        <td class="tEdit">
                            <input type="date" th:field="${form.dateFirstPayment}" id="dateFirstPayment"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tLabel">Дата последнего платежа:</td>
                        <td class="tEdit">
                            <input type="date" th:field="${form.dateEndPayment}" id="dateEndPayment"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tLabel">Количество месяцев:</td>
                        <td class="tEdit">
                            <input type="text" th:field="${form.countMonth}" id="countMonth"/>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td class="tLabel">Сумма заема:</td>
                        <td class="tEdit">
                            <input type="text" th:field="*{sumBody}" id="sumBody"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tLabel">Сумма процентов:</td>
                        <td class="tEdit" >
                            <input type="text" th:field="*{sumPercent}" id="sumPercent"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tLabel">Общая сумма:</td>
                        <td class="tEdit">
                            <input type="text" th:field="*{sum}" id="sum"/>
                        </td>
                    </tr>
                </table>
                <p>График платежей:</p>
                <table>
                    <tr class="headTable">
                        <td>Дата</td>
                        <td>Сумма платежа</td>
                        <td>Сумма тела</td>
                        <td>Сумма процентов</td>
                        <td>Оплачен</td>
                    </tr>
                    <tr class="row" th:each="payment, rowStat : ${form.paymentMonths}">
                        <td>
                            <input type="text" id="paymentDate" name="paymentDate"
                                   th:field="${form.paymentMonths[__${rowStat.index}__].paymentDate}"/></td>
                        <td>
                            <input type="text" id="paymentSum" name="paymentSum"
                                   th:field="${form.paymentMonths[__${rowStat.index}__].paymentSum}"/></td>
                        <td>
                            <input type="text" id="sumBody" name="sumBody"
                                   th:field="${form.paymentMonths[__${rowStat.index}__].sumBody}"/></td>
                        <td>
                            <input type="text" id="sumPercent" name="sumPercent"
                                   th:field="${form.paymentMonths[__${rowStat.index}__].sumPercent}"/></td>
                        <td>
                            <input type="checkbox" id="paid" name="paid"
                                   th:field="${form.paymentMonths[__${rowStat.index}__].paid}"/></td>
                    </tr>
                </table>
                <br/>
                <input class="formButton" type="submit" value="Сохранить">
            </form>
        </div>
    </div>
</div>

<div class="content" th:fragment="creditshow (form)">
    <div class="wrap">
        <div class="but">
            <h4>Кредит</h4>
            <table>
                <tr>
                    <td class="tLabel">Банк:</td>
                    <td class="tEdit" th:text="${form.credit.getBank().getName()}"/>
                </tr>
                <tr>
                    <td class="tLabel">Клиент:</td>
                    <td class="tEdit" th:text="${form.credit.getClient().getName()}"/>
                </tr>
                <tr>
                    <td class="tLabel">Кредитное предложеие:</td>
                    <td class="tEdit" th:text="${form.credit.getCreditOffer().getName()}"/>
                </tr>
            </table>
            <table>
                <tr>
                    <td class="tLabel">Дата первого платежа:</td>
                    <td class="tEdit" th:text="${form.credit.getPaymentSchedule().getDateFirstPayment()}"/>
                </tr>
                <tr>
                    <td class="tLabel">Дата последнего платежа:</td>
                    <td class="tEdit" th:text="${form.credit.getPaymentSchedule().getDateEndPayment()}"/>
                </tr>
                <tr>
                    <td class="tLabel">Количество месяцев:</td>
                    <td class="tEdit" th:text="${form.credit.getPaymentSchedule().getPaymentMonths().size()}"/>
                </tr>
            </table>
            <table>
                <tr>
                    <td class="tLabel">Сумма заема:</td>
                    <td class="tEdit" th:text="${form.credit.getSumBody()}"/>
                </tr>
                <tr>
                    <td class="tLabel">Сумма процентов:</td>
                    <td class="tEdit" th:text="${form.credit.getSumPercent()}"/>
                </tr>
                <tr>
                    <td class="tLabel">Общая сумма:</td>
                    <td class="tEdit" th:text="${form.credit.getSum()}"/>
                </tr>
            </table>
            <p>График платежей:</p>
            <table>
                <tr class="row">
                    <td>Дата</td>
                    <td>Сумма платежа</td>
                    <td>Сумма тела</td>
                    <td>Сумма процентов</td>
                    <td>Оплачен</td>
                </tr>
                <tr class="row" th:each="payment : ${form.credit.getPaymentSchedule().getPaymentMonths()}">
                    <td th:text="${payment.paymentDate}"/>
                    <td th:text="${payment.paymentSum}"/>
                    <td th:text="${payment.sumBody}"/>
                    <td th:text="${payment.sumPercent}"/>
                    <td th:text="(${payment.paid}?'Оплачено':'Не оплачео')"/>
                </tr>
            </table>

        </div>
    </div>
</div>

</body>
</html>