<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="head :: header(~{::title},~{})">
    <title>Список кредитных предложений</title>
</head>
<body>
<div th:replace="header :: header"></div>

<div class="but">
    <H3>Список кредитных предложений</H3>
    <a href="/creditoffer/new">+ Создать кредитное предложение</a>
    <br/>
    <hr/>
    <div class="row" th:each="creditOfferR : ${creditOffersList}">
        <form class="formRow" th:method="DELETE"
              th:action="@{/creditoffer/{id}(id=${creditOfferR.getId()})}"
              th:object="${creditOfferR}"
              accept-charset="UTF-8">
            <input class="formButton" type="submit" value="Удалить">
        </form>
        <form class="formRow" th:method="GET"
              th:action="@{/creditoffer/{id}/edit(id=${creditOfferR.getId()})}"
              th:object="${creditOfferR}"
              accept-charset="UTF-8">
            <input class="formButton" type="submit" value="Изменить">
        </form>
        <a th:href="@{/creditoffer/{id}(id=${creditOfferR.getId()})}">
            <div class="button" th:text="${creditOfferR.getBank().getName()+', '
                   + 'Лимит: ' + creditOfferR.getCreditLimit()+', '
                   + 'Процент: ' + creditOfferR.getInterestRate()}"></div>
        </a>
    </div>
    <hr/>
</div>

<div th:replace="footer :: footer"></div>
</body>
</html>