<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="head :: header(~{::title},~{})">
    <title>Кредитное предложение</title>
</head>
<body>
<div th:replace="header :: header"></div>

<p th:text="${creditOffer.getBank().getName()}"></p>
<p th:text="${creditOffer.getCreditLimit()}"></p>
<p th:text="${creditOffer.getInterestRate()}"></p>
<br/>
<div>
    <div class="but">
        <form th:method="DELETE"
              th:action="@{/creditoffer/{id}(id=${creditOffer.getId()})}"
              th:object="${creditOffer}"
              accept-charset="UTF-8">
            <input type="submit" value="Удалить">
        </form>
    </div>
    <div class="but">
        <form th:method="GET"
              th:action="@{/creditoffer/{id}/edit(id=${creditOffer.getId()})}"
              th:object="${creditOffer}"
              accept-charset="UTF-8">
            <input type="submit" value="Изменить">
        </form>
    </div>
</div>

<div th:replace="footer :: footer"></div>
</body>
</html>