<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:float="http://www.w3.org/1999/xhtml">
<head th:replace="head :: header(~{::title},~{})">
    <title>Список клиентов</title>
</head>
<body>
<div th:replace="header :: header"></div>

<div class="but">
    <H3>Список клиентов</H3>
    <a href="/client/new">+ Создать клиента</a>
    <br/>
    <hr/>
    <div class="row" th:each="clientR : ${clientsList}">
        <form class="formRow" th:method="DELETE"
              th:action="@{/client/{id}(id=${clientR.getId()})}"
              th:object="${clientR}"
              accept-charset="UTF-8">
            <input class="formButton" type="submit" value="Удалить">
        </form>
        <form class="formRow" th:method="GET"
              th:action="@{/client/{id}/edit(id=${clientR.getId()})}"
              th:object="${clientR}"
              accept-charset="UTF-8">
            <input class="formButton" type="submit" value="Изменить">
        </form>
        <a th:href="@{/client/{id}(id=${clientR.getId()})}">
            <div class="button" th:text="${clientR.getFirstName()+' '
                   + clientR.getLastName()+' '
                   + clientR.getFatherName()+', '
                   +'Паспорт: '+ clientR.getPasportNumber()+', '
                   + clientR.getEmail()+', '
                   +'Тел.: '+ clientR.getPhoneNumber()}"></div>
        </a>
    </div>
    <hr/>
</div>

<div th:replace="footer :: footer"></div>
</body>
</html>