<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="head :: header(~{::title},~{})">
    <title>Клиент</title>
</head>
<body>
<div th:replace="header :: header"></div>

<p th:text="${client.getFirstName()}"></p>
<p th:text="${client.getLastName()}"></p>
<p th:text="${client.getFatherName()}"></p>
<p th:text="${client.getEmail()}"></p>
<p th:text="${client.getPasportNumber()}"></p>
<p th:text="${client.getPhoneNumber()}"></p>
<br/>
<div>
    <div class="but">
        <form th:method="DELETE"
              th:action="@{/client/{id}(id=${client.getId()})}"
              th:object="${client}"
              accept-charset="UTF-8">
            <input type="submit" value="Удалить">
        </form>
    </div>
    <div class="but">
        <form th:method="GET"
              th:action="@{/client/{id}/edit(id=${client.getId()})}"
              th:object="${client}"
              accept-charset="UTF-8">
            <input type="submit" value="Изменить">
        </form>
    </div>
</div>

<div th:replace="footer :: footer"></div>
</body>
</html>